
/* Work Item Modal */
.work-item-modal {
  padding: 45px 0 0 0;
  max-height: 90vh;
  width: 640px;
  background: transparent;
}

.work-item-modal__overlay,
.contact-form__overlay {
  background: rgba(0, 0, 0, 0.8);
}

.work-item-modal__close {
  right: 0;
}

.contact-form__close {
  display: none;
}

.work-item-modal__close svg,
.contact-form__close svg {
  transition: fill 0.2s ease-in-out;
}

.work-item-modal__close:hover svg,
.contact-form__close:hover svg {
  fill: #1B83EA;
}

.work-item-modal__close svg {
  fill: white;
}

@media (min-width: 1800px) {
  .work-item-modal {
    width: 1280px;
    max-width: none;
  }
}

@media (max-width: 767px) {
  .work-item-modal,
  .contact-form__modal {
    padding: 0;
    margin: 0;
    max-height: 100vh;
    width: 95vw;
  }

  .contact-form__modal {
    height: 100vh;
  }

  .work-item-modal__close {
    display: none;
  }
}

@media (min-width: 768px) {
  .contact-form__close {
    display: block;
  }
}
  
