
// Colours
$black: #232323;
$white: #fff;
$accent: #1B83EA;
$accentLight: #A4BEF5;
$accentFaded: #EFF2FD;

// Fonts
$mainFont: 'Oswald', sans-serif;
$secondaryFont: 'Raleway', sans-serif;
$accentFont: 'Montserrat', sans-serif;