.about {
  padding: 20px 0 0 0;

  background: $white;
  
  @include media-sm {
    padding: 50px 0;
  }

  .parallax-heading {
    &::before {
      content: 'ABOUT';
    }
  }

  &__header {
    height: 0;
    overflow: hidden;
    
    position: relative;
    bottom: 150px;

    opacity: 0;

    transition: bottom 1s ease-in-out, opacity 0.4s ease-in-out, height 0.5s 0.3s;

    @include media-md {
      bottom: 0;
      opacity: 1;
    }
  }

  h2 {
    font-weight: 300;
  }

  h3 {
    margin-bottom: 40px;

    @include media-md {
      margin-bottom: 70px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

    @include media-md {
      flex-direction: row;
    }

    @include media-lg {
      width: 80%;
    }

    p {
      font-size: 1.6rem;
      letter-spacing: 0.4px;

      @include media-sm {
        font-size: 1.8rem;
      }
    }
  }

  &__bio {
    order: 1;
    
    width: 100%;

    white-space: pre-wrap;

    @include media-md {
      order: 0;
      
      width: 65%;
      margin-right: 35px;
    }

    @include media-lg {
      width: 70%;
    }
  }

  &__headshot {
    width: 50%;
    margin: 0 auto 30px auto;

    @include media-xs {
      width: 45%;
    }

    @include media-sm {
      width: 35%;
    }

    @include media-md {
      width: 27%;

      margin: 0;
    }

    @include media-lg {
      width: 23%;
    }

    img {
      border-radius: 12px;
      height: 200px;
    }
  }
}

.portfolio--inactive + .about {
  .about__header {
    display: block;
    bottom: 0;
    opacity: 1;

    height: 123px;

    overflow: visible;

    transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out 0.2s, height 0.5s 0s;

    @include media-md {
      height: auto;
    }
  }
}