.carousel-video {
  position: relative;
  overflow: hidden;

  @include media-md-portfolio {
    &:hover {
      .play-toggle,
      .mute-toggle,
      .fullscreen-toggle {
        opacity: 1;
      }

      .carousel-video__info {
        bottom: 0;
        opacity: 1;
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 10;

    background: rgba(0,0,0,0.85);
    opacity: 1;

    transition: all 0.3s ease-in-out;

    &.active {
      @include media-md-portfolio {
        opacity: 0;
        z-index: -1;
      }
    }

    &.active-small {
      opacity: 0;
      z-index: -1;
    }
  }

  &__overlay-content {
    display: none;
    
    background: linear-gradient(to bottom, black, transparent);
    padding: 10px;

    @include media-md-portfolio {
      background: none;
      padding: 0;
    }

    &.active {
      display: block;
    }
  }

  &__container {
    position: relative;
  }

  &__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    border: none;
    background: none;

    color: $accent;
    font-size: 4rem;

    @include media-md-portfolio {
      display: none;
    }

    &.hide {
      display: none;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;

    @include media-md-portfolio {
      z-index: 20;
    }
  }

  .play-toggle,
  .mute-toggle,
  .fullscreen-toggle {
    background: none;
    border: none;

    color: $white;

    font-size: 2.2rem;

    @include media-md-portfolio {
      position: absolute;

      opacity: 0;

      transition: all 0.3s ease-in-out;

      z-index: 10;

      svg {
        filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.6));   
      }

      &:hover {
        color: $accent;
      }
    }
  }

  .mute-toggle,
  .fullscreen-toggle {
    margin-left: 12px;

    @include media-md-portfolio {
      top: 10px;
      right: 8px;
      z-index: 30;

      font-size: 2rem;
    }
  }

  .fullscreen-toggle {
    display: none;

    @include media-md-portfolio {
      display: block;
    }
  }

  .play-toggle {
    @include media-md-portfolio {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-size: 4rem;
    }
  }

  .mute-toggle {
    @include media-md-portfolio {
      right: 48px;
    }
  }

  &__info {
    width: calc(100% - 80px);
    margin: 0 auto;
    
    text-align: center;

    letter-spacing: 0.3px;
    color: $white;

    @include media-md-portfolio {
      position: absolute;

      bottom: -50%;
      left: 0;
      right: 0;

      width: auto;

      opacity: 0;

      margin: 0;
      padding: 40px 10px 10px 10px;

      background: linear-gradient(to top, rgba(0,0,0,0.85), rgba(0,0,0,0.4) 60%, transparent 100%);

      letter-spacing: 0.3px;
      color: $white;
      text-align: left;

      transition: all 0.4s ease-in-out;
    }

    .title {
      font-size: 2.4rem;
      text-transform: uppercase;
      color: $accent;

      @include media-md-portfolio {
        font-size: 3rem;
        text-shadow: 0 0 18px rgba(0,0,0,1);
      }
    }

    .description {
      font-weight: 300;
      margin-top: 2px;
    }
  }

  @include media-md-portfolio {


    // .mute-toggle,
    // .fullscreen-toggle {
      

    //   @include media-md-portfolio {
    //     bottom: 10px;
    //     top: auto;
    //   }
  }
}