.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  padding-top: 84px;
  
  background: $black;

  @include media-md-portfolio {
    height: 100vh;
  }

  &-loading-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    

    opacity: 1;

    background: $black;

    transition: opacity 1.2s ease-out 0.3s, z-index 0s 1.5s;

    div {
      display: block;
    }

    &.hide {
      opacity: 0;
      z-index: -1;
      transition: opacity 0.4s ease-out 0.3s, z-index 0s 0.7s;

      div {
        display: none;
      }
    }
  }

  .wrapper {
    width: 100%;

    @include media-md-portfolio {
      width: 90%;
    }
  }

  &__carousel {
    position: relative;

    @include media-md-portfolio {
      width: 90%;
      margin: 0 auto 134px auto;
    }

    @include media-xl {
      width: 100%;
    }
  }

  &__trigger-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: transparent;
    border: none;

    font-size: 2.5rem;
    font-weight: 200;
    color: $white;

    opacity: 0;
    transition: all 0.3s ease-in-out;

    &.show {
      opacity: 1;
    }

    @include media-sm {
      font-size: 3rem;
    }

    .fa-play,
    .fa-play-circle {
      color: $accent;

      transform: scale(1);
      transition: 0.3s ease-in-out;

      @include media-sm {
        font-size: 3.5rem;
      }
    }

    .fa-play {
      display: none;
      font-size: 3rem;
      
      @include media-md-portfolio {
        display: block;
      }
    }

    .fa-play-circle {
      font-size: 4rem;
      @include media-md-portfolio {
        display: none;
      }
    }

    span {
      color: $white;
      text-shadow: 0 0 8px rgba(0,0,0,1);
    }

    &:hover {
      .fa-play,
      .fa-play-circle {
        transform: scale(1.1);
      }
    }
  }

  .slick-track {
    display: flex;
  }

  .slick-track .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include media-md-portfolio {
      height: auto;
    }
  }

  .slick-prev,
  .slick-next {
    display: none !important;
    
    top: auto;
    bottom: 0;
    z-index: 20;

    width: 40px;
    height: 40px;

    color: $white;
    font-size: 3rem;

    transition: all 0.3s ease-in-out;

    &:active {
      color: $accent;
    }

    @include media-sm {
      bottom: 0;
    }

    @include media-md-portfolio {
      bottom: auto;
      top: 50%;

      opacity: 0.7;

      font-size: 3.8rem;

      &:hover {
        opacity: 1;
        color: $accent;
      }
    }
  }

  .slick-prev {
    left: 12px;

    @include media-md-portfolio {
      left: -50px;
    }

    @include media-lg {
      left: -80px;
    }
  }

  .slick-next {
    right: 12px;

    @include media-md-portfolio {
      right: -50px;
    }

    @include media-lg {
      right: -80px;
    }
  }

  &__title {    
    width: 100%;
    
    margin-bottom: 10px;
    margin-top: 50px;

    // transitions in on load in global.scss
    opacity: 0;
    transition: bottom 1.2s ease-out 0.5s, opacity 0.8s ease-out 0.6s;

    @include media-md-portfolio {
      position: absolute;
      bottom: -28px;
      left: 50%;

      transform: translateX(-50%);

      margin: 40px 0 0 0;
    }
    
    h1,
    h2 {      
      text-transform: uppercase;
      font-weight: 200;
      text-align: center;

      opacity: 1;
      transform: translateY(0);
      transition: all 0.5s ease-in-out;
    }
    
    h1 {
      color: $white;
      line-height: 0.7;

      font-size: 4.2rem;

      @include media-md-portfolio {
        font-size: 3.8rem;
      }
    }

    h2 {
      color: $accent;

      font-size: 3.4rem;

      @include media-md-portfolio {
        font-size: 3.2rem;
      }
    }
  }

  &.portfolio-active {
    .slick-prev,
    .slick-next {
      display: block !important;
    }
  }

  &--inactive {
    h1,
    h2 {
      opacity: 0;
      transform: translateY(-30px);
    }
  }
}