.resume-item {
  margin-bottom: 25px;
  padding-bottom: 15px;

  border-bottom: solid 1px rgba($black, 0.1);
  font-family: $secondaryFont;

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }

  @include media-sm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;

    padding-bottom: 12px;
    margin-bottom: 18px;
  }

  @include media-md {
    grid-template-columns: 1.5fr 2fr 3fr;
  }

  @include media-lg {
    grid-template-columns: 2fr 2fr 2.7fr;
  }

  &__title-date-description {
    h4 {
      font-weight: bold;
      font-style: italic;
      font-size: 1.5rem;

    }
  }

  &__date {
    font-family: $accentFont;
    font-size: 1.4rem;
  }

  &__description {
    margin-left: 0;
    font-size: 1.4rem;
  }

  &__companies {
    display: none;

    @include media-md {
      display: block;
    }
    
    p {
      font-weight: 600;
      font-size: 1.4rem;
      margin-bottom: 10px;
    }
  }

  &__credits {
    margin-top: 10px;

    @include media-sm {
      margin-top: 0;
    }
    
    p {
      text-transform: uppercase;
      font-size: 1.4rem;
    }
  }

  &__credit-category {
    display: flex;
    justify-content: space-between;

    @include media-sm {
      display: grid;
      grid-template-columns: 1.3fr 2.2fr;
      grid-column-gap: 10px;
    }

    margin-bottom: 10px;

    @include media-lg {
      margin-bottom: 6px;
    }

    p {
      margin-right: 12px;

      @include media-sm {
        margin-right: 0;
      }
    }

    li {
      margin-bottom: 2px;

      text-align: right;
      font-weight: 600;
      font-size: 1.4rem;

      @include media-sm {
        text-align: left;
      }
    }
  }
}