.work-item {
  position: relative;

  background: rgba(0,0,0,1);

  .svg-inline--fa {
    font-size: 1.6rem;
    margin-right: 6px;
  }

  &__loader-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    max-height: 100vh;

    background: $white;

    opacity: 1;
    z-index: 1;
    transition: opacity 0.6s ease-in-out, z-index 0s 0.6s;

    @include media-md {
      max-height: calc(90vh - 45px);
    }
  }

  &__content {
    position: relative;
    
    padding: 10px 20px 20px 20px;

    background: $white;
  }

  &__close {
    position: absolute;
    top: 2px;
    right: 12px;

    background: transparent;
    border: none;

    padding: 10px;

    .svg-inline--fa {
      font-size: 2rem;
      margin: 0;
    }

    @include media-md {
      display: none;
    }
  }

  h2 {
    font-weight: 400;
    font-size: 2.4rem;
    color: $accent;
  }

  &__status {
    position: relative;
    bottom: 2px;
    
    margin-left: 7px;

    color: red;
    font-size: 1.5rem;
    font-family: $accentFont;
    font-weight: 300;
    text-transform: initial;
    font-style: italic;
  }

  h3 {
    margin-bottom: 6px;

    font-size: 2rem;
    font-weight: 400;
    color: $accent;
  }

  h4 {
    margin-right: 16px;
    
    font-weight: 500;
    font-size: 1.5rem;
  }

  &__genre {
    font-family: $accentFont;
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__time-info,
  &__year,
  &__runtime {
    display: flex;
    align-items: center;
  }

  &__runtime {
    margin-left: 24px;
  }

  &__credits {
    margin-top: 20px;
  }

  &__credit-category,
  &__production-category {
    display: flex;

    margin-bottom: 2px;

    font-family: $accentFont;

    @include media-md {
      align-items: flex-end;
    }

    p {
      font-size: 1.4rem;
    }
  }

  &__description {
    margin-top: 20px;
    font-family: $accentFont;
    white-space: pre-wrap;
  }
}