.work-item {
  position: relative;
  
  background: rgba(0,0,0,1);

  .svg-inline--fa {
    font-size: 1.6rem;
    margin-right: 6px;
  }

  &__loader-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    max-height: 100vh;

    background: $white;

    opacity: 1;
    z-index: 1;
    transition: opacity 0.6s ease-in-out, z-index 0s 0.6s;
  }

  &__media {
    position: relative;
    z-index: 1;
  }

  &__content {
    position: relative;
    
    padding: 30px 20px 20px 20px;

    background: $white;

    @include media-md {
      padding: 10px 20px 20px 20px;
    }
  }

  &__close {
    position: absolute;
    top: 2px;
    right: 6px;

    background: transparent;
    border: none;

    padding: 10px;

    .svg-inline--fa {
      font-size: 2rem;
      margin: 0;
      color: $black;
      transition: color 0.2s ease-in-out;
    }

    @include media-md {
      &:hover {
        .svg-inline--fa {
          color: $accent;
        }
      }
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  h2 {
    margin-right: 8px;
    
    font-weight: 400;
    font-size: 2.4rem;
    color: $accent;
  }

  &__imdb-link {
    margin-left: 25px;
    margin-bottom: 4px;
    
    color: #FAC800;
    background: radial-gradient($black 49%, $white 28%);

    border-radius: 4px;

    @include media-md {
      &:hover {
        color: $black;
        background: radial-gradient(#FAC800 51%, $white 28%);
      }
    }

    .fa-imdb {
      position: relative;
      left: 3px;
      
      font-size: 4rem;

      @include media-md {
        font-size: 4.6rem;
      }
    }
  }

  &__status {
    color: red;
    font-size: 1.5rem;
    font-family: $accentFont;
    font-weight: 300;
    text-transform: initial;
    font-style: italic;
  }

  h3 {
    margin-bottom: 18px;

    font-size: 2rem;
    font-weight: 400;
    color: $accent;
  }

  h4 {
    margin-right: 16px;
    
    font-weight: 500;
    font-size: 1.5rem;
  }

  &__genre {
    font-family: $accentFont;
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__time-info,
  &__year,
  &__runtime {
    display: flex;
    align-items: center;
  }

  &__runtime {
    margin-left: 24px;
  }

  &__credits {
    margin-top: 20px;
    border-top: solid 1px rgba(0,0,0,0.1);
    padding-top: 15px;
  }

  &__credits-header {
    display: flex;
    justify-content: space-between;
  }

  &__credit-category,
  &__production-category {
    display: flex;
    justify-content: space-between;

    margin-bottom: 5px;

    font-family: $accentFont;

    @include media-sm {
      justify-content: flex-start;
    }

    @include media-md {
      align-items: flex-end;
    }

    p {
      font-size: 1.4rem;
      text-align: right;

      @include media-sm {
        text-align: left;
      }
    }
  }

  &__description {
    margin-top: 22px;
  }

  &__description-content {
    margin-top: 20px;
    font-family: $accentFont;
    white-space: pre-wrap;
  }
}